[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
python-telegram-bot = "*"
python-dotenv = "*"
pytz = "*"
sqlalchemy = "*"
sqlacodegen = "*"

[requires]
python_version = "3.8"
